{{#each this}}
<li>
    <div class="card">
        <div class="overlay">
            <img src="{{webformatURL}}" alt="{{tags}}" />
        </div>

        <section class="media">
            <p class="description">
                {{tags}}
            </p>
        </section>

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}